.box-1 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.title {
  font-size: 2.5em;
  margin-top: 20px;
}
.desc {
  font-size: 1.1em;
  margin-top: 10px;
}
.line-4 {
  border-top: 2px solid #000;
  margin-top: 20px;
}
.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.left,
.right {
  width: 48%;
}
.item {
  margin-bottom: 10px;
}
.right .item {
  list-style-type: decimal;
}
.media {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.photo,
.video-11 {
  width: 48%;
}
iframe {
  width: 100%;
  height: 315px;
}
.kapsayıcı {
  background-color: cornsilk;
}
.corbanasyf {
  background: url(../images/corbamain.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
.tatlıana {
  background: url(../images/tatlıcı.webp);
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
}
@media (max-width: 768px) {
  .left img {
    height: 100%;
  }
  .flex {
    display: block !important;
  }

  .media {
    display: block !important;
  }

  .left,
  .right {
    width: 100% !important;
  }

  .media div {
    width: 100%;
  }
}
